
{{ partial "sub_footer.html" . }}
</div>

{{ with .Site.Params.extra }}
{{ if .highlightjs }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/highlight.min.js" integrity="sha256-1zu+3BnLYV9LdiY85uXMzii3bdrkelyp37e0ZyTAQh0=" crossorigin="anonymous"></script>
  {{ range .highlightjslanguages }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/languages/{{.}}.min.js"></script>
  {{ end }}

<script type="text/javascript">
hljs.initHighlightingOnLoad();
</script>
{{ end }}
{{ end }}

{{ template "_internal/google_analytics_async.html" . }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha256-nuL8/2cJ5NDSSwnKD8VqreErSWHtnEP9E7AySL+1ev4=" crossorigin="anonymous"></script>
<script src="js/main.js"></script>
</body>
</html>
