<section id="social-pane" class="row text-center social">
  {{ with .Site.Params.social.github }}
  <a href="https://github.com/{{.}}"><i class="fa fa-github" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.social.linkedin }}
  <a href="https://linkedin.com/in/{{.}}"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.social.twitter }}
  <a href="https://twitter.com/{{.}}"><i class="fa fa-twitter" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.social.facebook }}
  <a href="https://facebook.com/{{.}}"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.social.instagram }}
  <a href="https://instagram.com/{{.}}"><i class="fa fa-instagram" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.social.stackoverflow }}
  <a href="https://stackoverflow.com/users/{{.}}"><i class="fa fa-stack-overflow" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.social.medium}}
  <a href="https://medium.com/{{.}}"><i class="fa fa-medium" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.social.devto}}
  <a href="https://dev.to/{{.}}"><i class="fa fa-terminal" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.social.angellist}}
  <a href="https://angel.co/{{.}}"><i class="fa fa-angellist" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.social.xing }}
  <a href="https://www.xing.com/profile/{{.}}"><i class="fa fa-xing" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.social.hackernews }}
  <a href="https://news.ycombinator.com/user?id={{.}}"><i class="fa fa-hacker-news" aria-hidden="true"></i></a>
  {{ end }}
	{{ with .Site.Params.social.youtube}}
	<a href="https://youtube.com/channel/{{.}}" aria-label="Youtube" target="_blank"><i class="fab fa-youtube" aria-hidden="true"></i></a>
	{{ end }}
	{{ with .Site.Params.social.reddit}}
	<a href="https://www.reddit.com/user/{{.}}" aria-label="Reddit" target="_blank"><i class="fab fa-reddit" aria-hidden="true"></i></a>
	{{ end }}
	{{ with .Site.Params.social.strava}}
	<a href="https://www.strava.com/athletes/{{.}}" aria-label="Strava" target="_blank"><i class="fab fa-strava" aria-hidden="true"></i></a>
	{{ end }}
	{{ with .Site.Params.social.flickr}}
	<a href="https://flickr.com/photos/{{.}}" aria-label="Flickr" target="_blank"><i class="fab fa-flickr" aria-hidden="true"></i></a>
	{{ end }}
	{{ with .Site.Params.social.email }}
	<a href="mailto:{{.}}"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
	{{ end }}
	{{ with .OutputFormats.Get "RSS" }}
	{{ printf `<a href="%s" rel="%s" type="%s" title="%s"><i class="fa fa-rss" aria-hidden="true"></i></a>` .Permalink .Rel .MediaType.Type $.Site.Title | safeHTML }}
  {{ end }}
</section>
